DATABASE_URL="postgresql://postgres:passowrd@localhost:5432/projectflow?schema=public"


AUTH_SECRET="your-random-auth-secret"
NEXTAUTH_URL="http://localhost:3000"

AUTH_GOOGLE_ID="your_google_id.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="your_google_auth_secret"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="ProjectFlow"

REDIS_URL="redis://localhost:6379"

# Email (Gmail SMTP)
# Generate app password at: myaccount.google.com → Security → App passwords
EMAIL_FROM="your-gmail@gmail.com"
EMAIL_PASSWORD="your-16-char-app-password"